<html>

<head></head>
<form action="./authenticate" method="post">
    <input type="text" placeholder="username" name="username" />
    <input type="password" placeholder="password" name="password" />
    <button style="color:whitesmoke; background-color:black">Login</button>
</form>
<h1><%=message%></h1>

</html>